@import url("https://fonts.googleapis.com/css?family=Montserrat:400|Inconsolata:400");
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  background-color: #151516;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  max-width: 1920px;
  position: relative;
  overflow-x: hidden;
  margin: 0 auto;
  min-width: 360px;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  text-decoration: none;
}

 